.image1{
   width: 56px;
   height: 56px;
   background: rgba(244, 246, 250, 1);
   border-radius: 12px;
   color: rgba(98, 108, 127, 1);
   font-size: 28px;
}
.image1>img{
   border-radius: 12px;
}
.image-action{
   
}